<!DOCTYPE html>
<html>
  <head>
    <title>XX商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :stylesheets %>
  </head>

  <body  data-controller-name="<%= controller_name %>" date-action-name="<%= action_name %>"  id="<%= "#{controller_name}_#{action_name}" %>" class="<%= "#{controller_name} #{action_name}" %>">
    <%= render "/menu" %>
    <div  class="container-fluid main-container fadeIn animated">
      <%= render "/flash" %>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>
</html>
